
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
  background:url(asset/logo_x_pattern.png) repeat;
}


@media screen and (min-width: 600px) {
  html,body{
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;

  }

  body{
    background:url(asset/logo_x_pattern.png) repeat;
  }

}
