header div {
  text-align: center;

}
p.authorInfo {
  margin-top: 15px;
  margin-bottom: 15px;
  color:grey;
}
p.authorInfo a {
  font-style: italic;
}
div.container {
 margin: 20px auto;
}

header nav {
  margin: 40px;
}

article#template p {
  display: none;
}

article {
  margin: 30px;
  margin-bottom: 50px;
}
