header div {
  text-align: center;

}
<<<<<<< HEAD
=======
nav ul li{
  width:100%;
  font-size: 2em;
}
main article p.cat {
  font-size: 1em;
  color:red;
  font-weight: bold;
}
div.dropdown {
  text-align: left;
  margin: 40px;
}
>>>>>>> class-02
p.authorInfo {
  margin-top: 15px;
  margin-bottom: 15px;
  color:grey;
}
p.authorInfo a {
  font-style: italic;
}
div.container {
 margin: 20px auto;
}

header nav {
  margin: 40px;
}

<<<<<<< HEAD
article#template p {
=======
article#template p{
  display: none;
}

article#template a{
>>>>>>> class-02
  display: none;
}

article {
  margin: 30px;
  margin-bottom: 50px;
}
<<<<<<< HEAD
=======

section {
  display: none;
}

/*Responsive Design*/

img {
  max-width: 100%;
}

select {
   width: 50%;
   margin: 1% auto;
}
>>>>>>> class-02
